@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\000032}}
html {
  font-size: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\000033}}
body {
  color: #555;
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\000034}}
body, button, input, select, textarea {
  font-family: tahoma,Helvetica, Arial,"\5FAE\8F6F\96C5\9ED1";
  *font-family: "\5FAE\8F6F\96C5\9ED1";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\000036}}
.gehang {
  width: 10px;
  height: 10px;
  overflow: hidden;
  text-indent: -9999px;
  clear: both;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\000037}}
.block {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\000038}}
.none {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\000039}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000311}}
.fl {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000312}}
.fr {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000313}}
.tl {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000314}}
.tr {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000315}}
.tc {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000317}}
.cf, .header .nav ul, .home {
  zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000319}}
.cf:before, .header .nav ul:before, .home:before, .cf:after, .header .nav ul:after, .home:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000320}}
.cf:after, .header .nav ul:after, .home:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000325}}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000326}}
::-webkit-scrollbar-thumb {
  min-height: 20px;
  background: rgba(0, 0, 0, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_base\.scss}line{font-family:\0000327}}
::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000311}}
body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td, menu {
  margin: 0;
  padding: 0;
  resize: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000312}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000313}}
ul, ol, menu {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000314}}
fieldset, img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000315}}
img, object, select, input, textarea, button {
  vertical-align: middle;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000316}}
input, textarea, select, address, caption, cite, code, dfn, em, i, b, strong, small, th, var, abbr, button, u, s, del {
  font-style: normal;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000319}}
article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000320}}
code, kbd, pre, samp, tt {
  font-family: Consolas,"Courier New", Courier, monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000321}}
address, cite, dfn, em, var, i {
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000322}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000323}}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000324}}
a {
  text-decoration: none;
  cursor: pointer;
  color: #555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000327}}
a:hover, a:focus {
  outline: none;
  color: #FF8225;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000328}}
a, a * {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/base\/_reset\.scss}line{font-family:\0000332}}
abbr[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_index\.scss}line{font-family:\000031}}
.logo {
  color: darkslategray;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_index\.scss}line{font-family:\000032}}
.list {
  line-height: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_index\.scss}line{font-family:\000034}}
.list li {
  border-bottom: 4px solid #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_index\.scss}line{font-family:\000036}}
a {
  color: darkgreen;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_index\.scss}line{font-family:\0000310}}
a:hover {
  color: darkgoldenrod;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_index\.scss}line{font-family:\0000313}}
p {
  color: darkslategrey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\000031}}
html, body {
  overflow: hidden;
  overflow-y: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\000032}}
html {
  background-image: -webkit-linear-gradient(0deg, #fff, white);
  background-image: linear-gradient(0deg, #fff, white);
  background-repeat: repeat-x;
  background-size: auto 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\000037}}
* {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000311}}
#main-wrapper {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000314}}
.header {
  width: 100%;
  margin: 5px auto;
  margin-top: 0;
  background-image: -webkit-linear-gradient(0deg, #c9c9c9, #c7c7c7);
  background-image: linear-gradient(0deg, #c9c9c9, #c7c7c7);
  min-height: 37px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 2s;
  transition: height 2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000323}}
.header .logo {
  width: 180px;
  height: 32px;
  float: left;
  background: url("../static/slogo2.png") center/150px auto no-repeat;
  background-size: 60px 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000327}}
.header .logo a {
  display: block;
  text-indent: -9999px;
  width: 240px;
  height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000331}}
.header .nav {
  width: 550px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000333}}
.header .nav ul {
  padding: 1px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000337}}
.header .nav li {
  float: left;
  margin-right: 2px;
  margin-top: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000340}}
.header .nav li a {
  display: block;
  height: 17px;
  position: relative;
  padding: 0 20px;
  padding-top: 4px;
  font-size: 12px;
  color: #555;
  border-radius: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000349}}
.header .nav li a:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000353}}
.header .nav li a.on {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) inset;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000358}}
.header .nav li a:after {
  content: "";
  width: 0px;
  height: 2px;
  background: #f69800;
  position: absolute;
  top: 0%;
  left: 50%;
  transition: all .8s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000367}}
.header .nav li a:hover:after {
  left: 0%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000374}}
.isFixed {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 40px;
  background-image: none;
  background-color: rgba(96, 96, 96, 0.3);
  transition: all 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000384}}
.slide-enter-active {
  transition: all 1s ease;
  transform: translate3d(0, 0, 0);
}

/*定义元素从什么位置离开，以及离开岛指定位置所需的时间*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000388}}
.slide-leave-active {
  transition: all 1s ease;
  transform: translate3d(0, 0px, 0);
}

/*定义元素从100%的位置移入到0，过渡结束后再从0回到100%的位置*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000392}}
.slide-enter, .slide-leave-to {
  transform: translate3d(0, -50px, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000395}}
.home {
  width: 1200px;
  margin: 20px auto;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\0000398}}
.home .w1 {
  width: 150px;
  height: 20px;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003104}}
.home li.tab {
  padding: 6px 0;
  float: left;
  width: 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003109}}
.home li.tab a:hover {
  border-bottom: 2px solid #B9B9F7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003114}}
.home li.tab a.router-link-exact-active {
  color: darkorange;
  border-bottom: 2px solid darkblue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003116}}
.home .main {
  width: 640px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003118}}
.home .list li {
  position: relative;
  padding: 0px 0px 0px 100px;
  min-height: 59px;
  border-bottom: 1px solid #E7D9FC;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003121}}
.home .list li .user_ico {
  position: absolute;
  left: 0;
  top: 10px;
  display: block;
  width: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003123}}
.home .list li .user_ico img {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  display: block;
  margin: -5px auto 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003127}}
.home .list li .user_ico img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003131}}
.home .list li .user_ico button {
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003134}}
.home .list li .user_ico span {
  overflow: hidden;
  line-height: 11px;
  height: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  display: block;
  color: black;
  font-size: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003142}}
.home .list li .time {
  color: darkorange;
  font-size: 14px;
  display: inline-block;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  margin-left: 15px;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003151}}
.home .list li .el-tag:hover {
  color: yellow;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003154}}
.home .list li h3 a:hover {
  color: darkblue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003156}}
.home .list li:hover {
  background-image: linear-gradient(0deg, #DCF1F1, #F7FBEA);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003159}}
.home .list li:hover h3 {
  border-radius: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003162}}
.home .list li:hover h3 a {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003170}}
.home .aside-bar {
  width: 300px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003172}}
.home .aside-bar.fixed {
  position: relative;
  background-color: lightgoldenrodyellow;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003175}}
.home .aside-bar h3 {
  font-size: 15px;
  color: #000;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003176}}
.home .aside-bar ol {
  counter-reset: item;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003178}}
.home .aside-bar ol li {
  line-height: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003180}}
.home .aside-bar ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003186}}
.home .aside-bar code {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 5px;
  margin: 0 5px;
  display: inline-block;
  line-height: 1.4;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003190}}
.home .aside-bar a {
  color: #1955A9;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003192}}
.home .aside-bar a:hover {
  color: #FF8225;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003194}}
.home .aside-bar .aside-tab {
  float: left;
  width: 100%;
  margin: 14px 0 4px 0;
  padding-top: 4px;
  border-top: 1px solid rgba(96, 96, 96, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003200}}
.home .aside-bar .aside-tab ul {
  margin: 10px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003202}}
.home .aside-bar .aside-tab ul li {
  margin-top: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003206}}
.home .aside-bar .aside-tab h3 {
  font-size: 13px;
  color: #000;
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003213}}
.go_top {
  position: fixed;
  width: 30px;
  height: 30px;
  left: 70%;
  bottom: 100px;
  margin-left: 150px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all .5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003219}}
.go_top:before, .go_top:after {
  content: "";
  position: absolute;
  transition: all .5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003223}}
.go_top:before {
  width: 0;
  height: 0;
  top: 7px;
  left: 5px;
  border-width: 0 11px 11px;
  border-color: transparent transparent #fff;
  border-style: solid;
  transition: all .5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003230}}
.go_top:hover {
  width: 50px;
  height: 50px;
  margin-left: 160px;
  transition: all .5s;
  left: 69%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003236}}
.go_top:hover:before {
  top: 7px;
  left: 14px;
  transition: all .5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003243}}
.copy {
  text-align: center;
  line-height: 2;
  color: #999;
  margin: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003246}}
.eItem {
  float: right;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003250}}
.find {
  width: 250px;
  margin-top: 3px;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003255}}
.el-input__inner {
  height: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003258}}
#tagList {
  width: 300px;
  color: green;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003263}}
#tagList li {
  margin: 9px 5px;
  display: block;
  float: right;
  position: relative;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003269}}
#tagList li span a {
  color: #13ce66;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003273}}
#tagList li span .border {
  /* 尺寸自适应容器大小，假装是容器 */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* 在输入框的下面 */
  z-index: -1;
  /* 外观模拟  路由变化后#tagList .router-link-active处显示 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003281}}
#tagList li:hover {
  background-color: lightyellow;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003284}}
#tagList li:hover span a {
  color: black;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003289}}
#tagList li:active {
  background-color: black;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003292}}
#tagList li:active span a {
  color: black;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003300}}
#tagList .router-link-active {
  color: black;
  font-weight: bold;
  font-size: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003305}}
#tagList .router-link-active + .border {
  background-color: lightgoldenrodyellow;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003310}}
#tk_box_1 {
  border: 0px solid lightgrey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003315}}
.home .el-menu {
  right: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003321}}
.affix {
  position: fixed;
  width: 150px;
  left: 160px;
  top: 20px;
}

@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003333}}
  .home .list li .user_ico img {
    width: 30px !important;
    height: 30px !important;
    border-radius: 5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003338}}
  .find {
    width: 200px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003342}}
  .header .logo {
    width: 70px;
    margin-left: -1px;
    margin-right: 91px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003347}}
  .header .nav {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003352}}
  .e_col {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003353}}
  div ul li.tab:nth-child(n+6) {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003357}}
  .home {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003361}}
  .home .el-menu-vertical-demo {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003364}}
  .home .el-button {
    margin-left: 10px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003368}}
  .home li.tab {
    width: 20%;
    padding: 1px 3px;
    border-bottom: 1px solid lightgray;
    margin-left: -8px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003374}}
  .home .main {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003377}}
  .home .aside-bar {
    width: 100%;
    padding-left: 40px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003382}}
  .home .w1 {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003385}}
  .list {
    line-height: 2;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003387}}
  .list li {
    font-size: 12px;
    padding: 5px 0px 5px 80px;
    min-height: 50px;
    margin-left: -9px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003391}}
  .list li h3 {
    margin-left: -16px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003397}}
  .aside-bar > h3:nth-child(1) {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003400}}
  .aside-bar > ul:nth-child(2) {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003405}}
  #tagList {
    width: 90%;
    position: static;
    margin: 9px 0 118px 10px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003409}}
  #tagList li {
    margin: 5px 5px;
    display: block;
    float: left;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003415}}
  .go_top {
    left: 50%;
  }
}
@media screen and (max-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003420}}
  .find {
    width: 160px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003424}}
  .header .logo {
    width: 70px;
    margin-left: 0px;
    margin-right: 90px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_home\.scss}line{font-family:\00003429}}
  .header .nav {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\000031}}
.article {
  width: 640px;
  float: left;
  margin-left: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\000034}}
.article .title {
  font-size: 24px;
  line-height: 1.5;
  color: #09c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\000037}}
.article .date {
  color: #999;
  line-height: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000310}}
.article .article_content {
  margin-top: 10px;
  line-height: 2;
  color: #222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000312}}
.article .article_content img {
  display: block;
  max-width: 600px;
  max-height: 600px;
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 0 0 0 2px #fff, 3px 3px 5px rgba(0, 0, 0, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000316}}
.article .article_content p {
  padding: 5px 0;
  text-indent: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000319}}
.article .article_content a {
  color: #46c100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000321}}
.article .article_content a:hover {
  color: #FF8225;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000323}}
.article .article_content table {
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000325}}
.article .article_content table, .article .article_content table th, .article .article_content table td {
  border: 1px solid #ccf2ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000326}}
.article .article_content table th {
  background: #09c;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000327}}
.article .article_content table tr:nth-child(2n) {
  background: rgba(0, 153, 204, 0.05);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000331}}
.article .article_content h1, .article .article_content h2, .article .article_content h3, .article .article_content h4, .article .article_content h5, .article .article_content h6 {
  font-weight: bold;
  color: #09c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000332}}
.article .article_content h4, .article .article_content h5, .article .article_content h6 {
  font-size: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000333}}
.article .article_content h3 {
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000334}}
.article .article_content h2 {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000335}}
.article .article_content h1 {
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000336}}
.article .article_content ol {
  counter-reset: item;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000338}}
.article .article_content ol li {
  line-height: 2;
  text-indent: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000340}}
.article .article_content ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000347}}
.article .replies_title {
  margin: 20px 0;
  color: #fff;
  line-height: 2;
  text-indent: 20px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(0deg, #1ac6ff, #0095c7);
  background-image: linear-gradient(0deg, #1ac6ff, #0095c7);
  box-shadow: 0 0 0 1px #09c inset, 0 0 0 2px rgba(255, 255, 255, 0.5) inset, 0 0 5px rgba(0, 153, 204, 0.5);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000357}}
.bar {
  width: 330px;
  float: right;
  margin-right: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000361}}
.bar li {
  margin: 10px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000364}}
.bar .aside-tab {
  float: left;
  width: 100%;
  margin: 14px 0 4px 0;
  padding-top: 4px;
  border-top: 1px solid rgba(96, 96, 96, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000370}}
.bar .aside-tab ul {
  margin: 10px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000372}}
.bar .aside-tab ul li {
  margin-top: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000376}}
.bar .aside-tab h3 {
  font-size: 13px;
  color: #000;
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000384}}
  .article {
    width: 97%;
    margin-left: 3px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000387}}
  .article .replies_title {
    max-width: 355px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000390}}
  .article .article_content img {
    max-width: 90%;
    margin-left: 1px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000395}}
  aside.bar {
    max-width: 330px;
    margin-right: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\0000398}}
  aside.bar > h3:nth-of-type(1) {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\00003101}}
  aside.bar > h3:nth-of-type(2) {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\%20PRO\/Vue-webpack\/vuepro\/src\/style\/scss\/_content\.scss}line{font-family:\00003104}}
  aside.bar ol {
    display: none;
  }
}
