.logo {color: darkslategray;}
.list {
  line-height: 2;
  li {border-bottom: 4px solid #ddd;}
}
a {
   color: darkgreen;
   text-decoration:none
  }
  a:hover {
    color: darkgoldenrod
  }
  p {
    color: darkslategrey
  }